{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    {{ form_start(threadForm) }}
        <button type="submit">Créer un nouveau thread</button>
    {{ form_end(threadForm) }}

{% endblock %}


