{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}

    {{ form_start(threadForm) }}
    <button type="submit">Éditer le thread</button>
    {{ form_end(threadForm) }}

{% endblock %}


