{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    {{ form_start(postForm) }}
    <button type="submit">Créer un nouveau post</button>
    {{ form_end(postForm) }}

{% endblock %}