{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}

    {{ form_start(postForm) }}
    <button type="submit">Éditer le post</button>
    {{ form_end(postForm) }}

{% endblock %}


