{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(subCategoryForm) }}
        <button type="submit">Créer une sous-catégorie</button>
    {{ form_end(subCategoryForm) }}

{% endblock %}

{% block title %}

{% endblock %}

