{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}

    {{ form_start(subCatForm) }}
    <button type="submit">Éditer la sous-catégorie</button>
    {{ form_end(subCatForm) }}

{% endblock %}
